.nav-link:hover {
  color: #febb04 !important;
  font-weight: bold; 
  font-size: 20px; 

}
.nav-link {
  color: #032912; 
  font-size: 22px; 
  font-weight: bold; 

}
.large-card {
  width: 250px !important;
  margin: 1rem;
  transition: transform 0.3s ease;
}

.large-card:hover,
.large-card.clicked {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .nav-link {
    padding: 20px;
    text-align: left

  }}

  .nav-item {
    color: rgba(65, 36, 6, 0.5); 
    font-size: 22px; 
    font-weight: bold; 
  

  }
.custom-list-group .list-group-item {
  background-color: rgba(246, 239, 232, 0.5); /* semi-transparent white */
  border: none;
  color: #a9f7d1; 
  font-weight: bold;

}

.custom-list-group {
  border-radius: 15px; /* Rounded corners for the container */
  overflow: hidden; /* Ensures the inner items don't overflow the rounded corners */

}

.custom-list-group .list-group-item a {
  color: inherit; /* Inherits the color from the list group item */
}

.custom-list-group .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.7); /* slightly more opaque on hover */
}

.carticon {
  color: (45deg, #f8da13, #e79209);
  height: 37px;
  font-size: 1em;
  width: fit-content;
}
.gradient-outlined-text {
  background: linear-gradient(45deg, #ff6a00, #15060a); /* Gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make the text color transparent */
  display: inline-block; /* Necessary for some browsers */
  font-weight: bold;

  /* Outline effect */
  text-shadow: 
    /* -1px -1px 0 #f88f49,   */
     /* 1px -1px 0 #443434, */
    -1px  1px 0 #febb04,
     1px  1px 0 #871f14;
       font-weight: bold;
}

.gradient-outlined-textnav {
  background: linear-gradient(45deg, #ff6a00, #15060a); /* Gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  display: inline-block; 
  font-weight: bold;
  font-size: 17px;

  /* Outline effect */
  text-shadow: 
    /* -1px -1px 0 #f88f49,   */
     /* 1px -1px 0 #443434, */
    -1px  1px 0 #febb04,
     1px  1px 0 #871f14;
       font-weight: bold;
}

.gradient-texth2 {
  background: linear-gradient(45deg, #ff6a00, #150606); /* Define your gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold; 
  color: transparent; /* Make the text color transparent */
  display: inline-block; 
  
}
.gradient-text-1 {
  background: linear-gradient(45deg, #f8da13, #e79209); /* Define your gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold; 
  color: transparent; /* Make the text color transparent */
  display: inline-block; 
  
}
.gradient-textp1 {
  background: linear-gradient(45deg, #ff6a00, #a9f7d1); 
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20px; 
  font-weight: bold; 
  color: transparent; /* Make the text color transparent */
  display: inline-block; /* Necessary for some browsers */
}

.gradient-textp1art {
  background: linear-gradient(45deg, #060300, #a9f7d1); 
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px; 
  text-align: center;
  font-weight: bold; 
  color: transparent; /* Make the text color transparent */
  display: inline-block; /* Necessary for some browsers */
}

.gradient-outlined-textheder {
  background: linear-gradient(45deg, #000000, #15060a); /* Gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  display: inline-block; 
  font-weight: bold;
  font-size: 33px;

  /* Outline effect */
  text-shadow: 
    /* -1px -1px 0 #f88f49,   */
     /* 1px -1px 0 #443434, */
    -1px  1px 0 #febb04,
     1px  1px 0 #871f14;
       font-weight: bold;
}
.p2 {

  font-size: 16px; 
  font-weight: bold; 
  color: #f5be7f;
}
.p3 {

  font-size: 16px; 
  font-weight: bold; 
  color: #f5be7f;
}